/* ==========================
        MOBILE
========================== */

@media(max-width:992px){

.nav-menu{

    position:fixed;

    top:80px;

    left:-100%;

    width:100%;

    background:white;

    transition:.4s;

    padding:30px;

}

.nav-menu.active{

    left:0;

}

.nav-links{

    flex-direction:column;

}

.mega-menu{

    position:static;

    width:100%;

    display:none;

    opacity:1;

    visibility:visible;

    box-shadow:none;

    padding:20px 0;

}

.dropdown.open .mega-menu{

    display:flex;

    flex-direction:column;

}

.menu-btn{

    display:block;

}

}

@media(max-width:768px){

.hero-content{

left:6%;

right:6%;

max-width:100%;

}

.hero-content h1{

font-size:2.6rem;

}

.hero-buttons{

flex-direction:column;

align-items:flex-start;

}

.prev,
.next{

display:none;

}

}

/* ===================================
        PRODUCT GRID
=================================== */

@media(max-width:1200px){

.product-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.product-grid{

grid-template-columns:1fr;

}

}

