/* ===================================
        WHY CHOOSE US
=================================== */

.why-us{

    padding:120px 0;

    background:white;

}

.why-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.why-image{

    overflow:hidden;

    border-radius:20px;

}

.why-image img{

    width:100%;

    display:block;

    transition:.8s;

}

.why-image:hover img{

    transform:scale(1.08);

}

.section-tag{

    color:#d4a017;

    font-weight:600;

    letter-spacing:3px;

}

.why-content h2{

    font-size:3rem;

    margin:20px 0;

    color:#222;

}

.why-content>p{

    color:#666;

    line-height:1.8;

    margin-bottom:45px;

}

.feature-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.feature-card{

    padding:30px;

    background:#fafafa;

    border-radius:15px;

    transition:.35s;

}

.feature-card:hover{

    background:#d4a017;

    color:white;

    transform:translateY(-8px);

}

.feature-card:hover p{

    color:white;

}

.feature-card i{

    font-size:34px;

    margin-bottom:20px;

    color:#d4a017;

}

.feature-card:hover i{

    color:white;

}

.feature-card p{

    color:#666;

    margin-top:10px;

}

.stats{

    display:flex;

    justify-content:space-between;

    margin-top:60px;

    text-align:center;

}

.stats h3{

    font-size:2.5rem;

    color:#d4a017;

}

.stats p{

    color:#666;

}