body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

/* CSS Study Section */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.box {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.box1{
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.grid-container-img {
 border-image-slice:
33% 33% 33% 33%;
border-image-width:
1.5em 1.5em 1.5em 1.5em;
border-image-outset:
0px 0px 0px 0px;
border-image-repeat:
round round;
border-image-source:url(images/Untitled\ design\ \(2\).png);
border-style:
solid;
}

